.details-panel {
  background: #F8F8F9;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
  border-top: 5px solid #000;

  .details-header {
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop {
      display: block;
    }

    h2 {
      text-align: center;

      @include tablet {
        font-size: 1.1em;
      }
    }
  }

  .details-list {
    display: flex;
    padding: 0 15px 15px 15px;

    @include mobile {
      display: block;
      margin: 0 auto;
    };

    @include tablet {
      padding: 0 16px 0 16px;
    }

    @include desktop {
      padding: 0 55px 0 55px;
    }

    ul {
      flex-basis: 50%;
      font-size: .8em;

      @include mobile {
        margin: 0;
      };

      @include tablet {
        font-size: .7em;
      }

      @include desktop {
        font-size: 1em;
      }
    }
  }
}
