.details-panel {
  background: #F8F8F9;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);
  border-top: 5px solid #000;

  .details-header {
    h2 {
      text-align: center;

      @include tablet {
        font-size: 1.1em;
      }
    }
  }

  .details-list {
    display: flex;
    padding-left: 55px;
    padding-right: 55px;

    @include tablet {
      padding-left: 16px;
      padding-right: 16px;
    }

    ul {
      flex-basis: 50%;

      @include tablet {
        font-size: .7em;
      }
    }
  }
}
