// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.tagline {
  color: white;
  text-align: center;
}

.item2 {
  line-height: 27px;
}

.pitch {
  margin-top: 0;
}
